<!-- 戻るボタン -->
  <div class="mb-5 pt-8">
    <%= link_to rooms_path, class: "btn btn-ghost text-primary" do %>
      <i class="fas fa-arrow-left mr-1"></i>戻る
    <% end %>
  </div>

<%= render './shared/room_form.html.erb', room: @room %>
